<meta charset="UTF-8">
<title>Pomiary pogodowe</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/stylesheet.css">
<style>
    body {
        padding-top: 50px;
    }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
    <a class="navbar-brand " href="/ ">Pomiary pogody</a>
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
            <a class="nav-link " href="/">Dokumentacja</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/survey">Wypełnij ankiete</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/chart">Wykresy wyników</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/surveys_from_server">Wyniki</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/offline_results">Wyniki offline</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/login">Zaloguj się</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/logout">Wyloguj się</a>
        </li>

    </ul>
</nav>