<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">



    <main>
        <div class="jumbotron">
            <div id="content">
                <section>
                    <h3>Dokumentacja</h3>
                    <p>
                        <h5>Temat projektu</h5>
                        Tematem projektu jest pobieranie pomiarów opadów i wilgotności w poszczególnych dniach w roku. Niezalogowany użytkownik może wypełnić pomiar i zapisać go w lokalnej bazie. Może również przeglądać dane w lokalnej bazie. Po zalogowaniu informacje z lokalnej
                        bazy są wysyłane na serwer. Zalogowany użytkownik może wypełnić pomiar i wysłać go na serwer oraz przeglądać dane w postaci tabeli oraz wykresów.</br>
                        </br>
                        <h5>Wykorzystane technologie: </h5>
                        -HTML5 </br>
                        -CSS + Bootstrap </br>
                        -JavaScript + AJAX + IndexedDB + CanvasJS</br>
                        -Node.js</br>
                        -MongoDB</br>


                    </p>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>