<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">



    <main>
        <div class="jumbotron">
            <h1>Pomiary pogodowe</h1>
            <p>Strona startowa</p>
            <% if (result) { %>
                <div id="result">
                    <%= result %>
                </div>
                <%} else { %>
                    <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>