<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <div id="content">
                <section>
                    <h3>Wyniki w bazie offline</h3>
                    <button type="button" id="get_results_offline">Wczytaj wyniki</button>
                    <div id="offline_results"></div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>